<div class="row">
  <div class="col-md-12">
    <h1>Data binding</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    String interpolation - My Name is {{nm}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Expression {{ 10 * 10}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Function Call {{ mkUpr()}}
  </div>
</div>
<app-event-binding></app-event-binding>
<app-property-binding></app-property-binding>
<div class="row">
  <div class="col-md-12">
    <h2>Two Way Binding</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [(ngModel)]="nm">{{nm}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="button" (click)="zy = !zy"/>
  </div>
</div>
<app-awesome></app-awesome>
<app-in-com [isThere]="zy"></app-in-com>
<app-in-com [isThere]="false"></app-in-com>