<div class="row">
  <div class="col-md-12">
    <div [ngClass]="{'well': true, 'brd': true}">
      jello
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div [ngStyle]="maSty">
      jello
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input type="text" [myAttr]="'3px solid green'">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input type="text" [myAttr]="'5px solid green'">
  </div>
</div>
<!-- <app-extra-tab></app-extra-tab> -->
<div class="row">
  <div class="col-md-12">
    <h1>Structural Directives</h1>
  </div>
</div>

<div class="row" *ngFor="let rat of reviews; let pos = index;">
  <div class="col-md-12 well">
    <div>
      {{rat.review}} => {{pos}}
    </div>
    <rating [(ngModel)]="rat.rating" [max]="10"></rating>
    <div class="pull-right"><b>{{rat.rating}}</b></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="bg-success" *ngIf="isVis"> Well said </div>
    <input type="button" class="btn btn-info" value="Okay" (click)="isVis = !isVis" />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="bg-success" [ngSwitch]="day">
      <div *ngSwitchCase="1"> Monday</div>
      <div *ngSwitchCase="2">Tuesday</div>
      <div *ngSwitchCase="3">Wedensday</div>
      <div *ngSwitchDefault>
        Some Thing Else
      </div>
    </div>
  </div>
  <input type="button" class="btn btn-info" value="One" (click)="day=1" />
  <input type="button" class="btn btn-info" value="Two" (click)="day=2" />
  <input type="button" class="btn btn-info" value="Three" (click)="day=3" />
  <input type="button" class="btn btn-info" value="Four" (click)="day=4" />
</div>

<div class="row">
  <div class="col-md-12">

    <ng-template [ngIf]="isVis">
      <div>
        said Again
      </div>
    </ng-template>

    <input type="button" class="btn btn-info" value="Okay Two" (click)="isVis = !isVis" />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="bg-success" *appCustStrDir="!isVis"> Well said Cust </div>
    <input type="button" class="btn btn-info" value="Again" (click)="isAg = !isAg" />
  </div>

</div>