<div class="row">
  <div class="col-md-12">
    <div [ngClass]="{'well': true, 'brd': true}">
      jello
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div [ngStyle]="maSty">
      jello
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input type="text" [myAttr]="'3px solid green'">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input type="text" [myAttr]="'5px solid green'">
  </div>
</div>
<!-- <app-extra-tab></app-extra-tab> -->
<div class="row">
  <div class="col-md-12">
    <h1>Structural Directives</h1>
  </div>
</div>

<div class="row" *ngFor="let rat of reviews">
  <div class="col-md-12 well">
    <div>
      {{rat.review}}
    </div>
    <rating [(ngModel)]="rat.rating" [max]="10" ></rating> 
    <div class="pull-right"><b>{{rat.rating}}</b></div>
  </div>
</div>
